.calendarContainer {
    padding: 0px 5px 0px 5px;
    color: black;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0px;
    > #miniCalendar {
        padding: 0px 5px 0px 20%;
        color: black;   
        text-align: center;
        display: block;
        width: 80%;
        margin: 5px;
    }
}

h2 {
    display: inline-block;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
    color: #737373;
    text-transform: uppercase;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    font-family: 'Lato', sans-serif;
  }

#testBtnContainer, #addBtnContainer {
    padding: 0px 5px 10px 20%;
    text-align: center;
    width: 50%;
    > .button {
        border-radius: 5px;
    }
    
}

.boxContainer {
    padding: 20px 5px 20px 5px;
    margin: 5px;
    border: 1px solid whitesmoke;
    display: block;
    width: 20%;
    float: left;
    
}

.contentBoxContainer {
    padding: 20px auto;
    display: block;
    width: 75%;
    height: 600px;
    float: left;
    > #todoList {
		overflow:scroll;
        width: 90%;
        height: 500px;
        background: white;
        border: 1px solid whitesmoke;
        margin: 20px auto 0;
        padding: 20px 40px 20px 40px;
        > li {
		  margin-bottom: 5px;
          list-style-type: none;
          width: 80%;
          position: relative;
          border: 1px solid #333;
          border-radius: 5px;
          padding: 12px 30px 12px 30px;
          background: #ffe79a;
          font-size: 12px;
          &:nth-child(odd) {
            background: #c8e4fe;
          }
          &:hover {
			background: #5188f9;
			cursor: pointer;
          }
		}
		.badge {
			display: inline-block;
			font-size: small;
			color: white;
			padding: 1em 1em 0 1em;
			background-color: rgb(204, 33, 48);
			line-height: 1em;
			position: relative;
			left: -1px;
			top: -4px;
			height: 3em;
			min-width: 50px;
			text-align: center;
			margin-right: 1em;
			border-radius: 4px;
		}
    }
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    vertical-align: middle;
    padding: 5px 16px 5px 16px;
    &:hover {
      color: red;
      cursor: pointer;
    }
}

.item {
	font-size: 1.1em;
	width: 400px;
	height: auto;
	color: black;
	display: inline-block;
}

.myButton {
	margin-bottom: 10px;
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	width: 180px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}
$black: black;
$black_40: rgba(0,0,0,0.4);
$color_celeste_approx: #cccccc;
$white: white;
$periwinkle: #ccccff;
//fonts
$font_0: verdana;
$font_1: Arial;
$font_2: Helvetica;
$font_3: sans-serif;

//original selectors
//.close:hover, .close:focus
%extend {
	color: $black;
	text-decoration: none;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	color: $color_celeste_approx;
	font-size: 0.8em;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $black;
	background-color: $black_40;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}
.close1 {
	color: $white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		@extend %extend;
	}
	&:focus {
		@extend %extend;
	}
}
.modal-body {
	padding: 2px 16px;
}
.modal-content {
	position: relative;
	bottom: 0;
	background-color: $periwinkle;
	width: 100%;
	animation-name: slideIn;
	animation-duration: 0.4s;
}